* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    
}

html {

    font-size: 62.5%;
}

body {

    font-size: 16px;
    width: 100%;
    font-family: 'Alata', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;

}

.announcements {

    display: flex;
    justify-content: center;
    background-color: rgb(255, 132, 0);
    width: 100%;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}

.header {

    width: 100%;
}


.buscador{
    display: none;
}

.navBar ul li a{
    color: black;
    line-height: 2;
    position: relative;
}
  
.navBar ul li a::before {

    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: black;
    position: absolute;
    bottom: -.25rem;
    right: 0;
    transition: right .4s, width .4s, left .4s;
}
  
.navBar ul li a:hover::before {
    width: 100%;
    left: 0;
}


.header .container {

    display: flex;
    justify-content: space-around;
    align-items: center;
}


.custom-select {
    position: relative;
    display: inline-block;
  }

  .custom-select select {
    display: none;
  }

  .select-icon {
    cursor: pointer;
    color: #fff;
  }

  .options {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateX(-40%);
    width: 20rem;
    z-index: 1;
    display: none;
    border: 1px solid #ccc;
    background-color: #fff;
  }

  .custom-select:hover .options {
    display: block;
    flex-direction: column;
  }

  .options a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .options a:hover {
    background-color: #f2f2f2;
  }

.header .container {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .unorderList {

    display: flex;
    list-style: none;
    margin-left: 15rem;
}

.unorderList li {

    display: flex;
 

}

.unorderList a {

    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    margin: 1.5rem;
    
}

header .user {

    display: flex;
    gap: 4rem;
    margin-left: 6rem;

}

header .navToggle {

    font-size: 3rem;
    background: none;
    border: none;
    padding: 0rem 2rem;
    line-height: 6rem;
    display: none;
}

.navLink:hover {

    color: rgb(255, 149, 0);
}

.header hr {

    opacity: 50%;
}

.containerAllPage {

    width: 100%;
}

main {

    width: 90%;
    margin: auto;
}

.containerProducts {

    width: 60%;
    margin: 10rem auto auto auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.containerProducts .card {

    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 4rem;

}

.card:hover {

    -webkit-transform: scale(1.1);
    transform: scale(0.5rem);
    transition: 1s;

}

.containerProducts img {

    width: 100%;
    border-radius: 4rem;
    -webkit-box-shadow: 0px 6px 20px -1px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 6px 20px -1px rgba(0,0,0,0.57);
    box-shadow: 0px 6px 20px -1px rgba(0,0,0,0.57);
}



.containerProducts h3 {

    color: white;
    text-shadow: 2px 2px 10px black;
    font-size: 6rem;
    position: absolute;
    top: 65%;
    left: 8%;
    right: 0;
    bottom: 0;
}


.footer {

    display: flex;
    padding: 2rem 0;
    justify-content: space-around;
    margin-top: 10rem;
    background-color: rgb(255, 115, 0);

}

.footer li {

    display: flex;
    flex-direction: column;
    color: black;
    margin: 1rem;

}

.footerLink:hover {

    color: black;
}

.footer img {

    margin: 1rem;
}

.footer a {

    text-decoration: none;
    color: white;
    
}

.copyright{

   text-align: end;
   background-color:  rgb(255, 115, 0);
   padding: 1rem 2rem;
}
